<h1>Style Info</h1>

<h2><%=@style.name%></h2>

<%@style.beers.each do |beer|%>
<ul>
  <li><a href="/beers/<%=beer.id%>"> <%=beer.name%> </a> - <a href="breweries/<%=beer.brewery.id%>"> <%=beer.brewery.name%> </a></li>
</ul>
<%end%>
