<h1>Beer Index</h1>

<%@beers.each do |beer|%>
  <h3><%=beer.name%></h3>
  <p><a href="/styles/<%=beer.style.slug%>"><%=beer.style%></a>  by <a href="/breweries/<%=beer.brewery.slug%>"><%=beer.brewery%></a></p>
  <br></br>
<%end%>
