<h1>Beer Info</h1>

<h3><%=beer.name%></h3>
<h4>Style</h4>
<p><%=@beer.style.name%></p>
<h4>Brewery</h4>
<p><%=@beer.brewery.name%></p>

<% if @beer.user_id = @user.id %>
<a href="/beers/<%=@beer.id%>/edit">Edit Beer</a>
<form action="/beers/<%=@beer.id%>/delete" method="post">
  <input type="submit" name="" value="Delete Beer">
</form>
<%end%>
