<h1>Beer Info</h1>

<h3><%=@beer.name%></h3>
<h4>Style</h4>
<p><a href="/styles/<%=@beer.style.id%>"></a> <%=@beer.style.name%></p>
<h4>Brewery</h4>
<p><a href="/breweries/<%=@beer.brewery.id%>"> <%=@beer.brewery.name%></a></p>
<p><%=@beer.brewery.location%></p>
<br>
<p>Added by <%=@beer.user.username%></p>

<% if @beer.user_id == @user.id %>
<a href="/beers/<%=@beer.id%>/edit">Edit Beer</a>
<form action="/beers/<%=@beer.id%>/delete" method="post">
  <input type="submit" name="" value="Delete Beer">
</form>
<%end%>
